body{
    background-color: blue;
}

.cardsection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
}

.card {
    width: 100%;
    max-height: 700px;
    background: lightblue;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    overflow: hidden;
}

.card-img {
    height: 40%;
    object-fit: cover;
}

.card-h3 {
    padding: 15px 20px 5px;
}

.card p {
    padding: 0 20px 20px;
    flex-grow: 1;
    color: #555;
}